@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h1 {
    @apply font-favorit text-5xl font-medium leading-6;
  }

  h2 {
    @apply font-favorit text-4xl font-medium leading-6;
  }

  h3 {
    @apply font-favorit text-3xl font-medium leading-5;
  }

  .book-info-sm {
    @apply font-favoritBook text-sm font-book leading-4;
  }

  .book-info-md {
    @apply font-favoritBook text-base font-book leading-4;
  }

  .book-intro-sm {
    @apply font-favoritBook font-book text-md leading-4;
  }

  .book-intro-md {
    @apply font-favoritBook font-book text-xl font-book leading-4;
  }

  .book-intro-lg {
    @apply font-favoritBook font-book text-2xl font-book leading-5;
  }

  .medium-intro-sm {
    @apply font-favorit text-md font-medium leading-4;
  }

  .medium-intro-md {
    @apply font-favorit text-xl font-medium leading-4;
  }

  .medium-intro-lg {
    @apply font-favorit text-2xl font-medium leading-5;
  }

  .bold-intro-sm {
    @apply font-favorit text-md font-bold leading-4;
  }

  .bold-intro-md {
    @apply font-favorit text-4xl font-bold leading-4;
  }

  .bold-intro-lg {
    @apply font-favorit text-5xl font-bold leading-5;
  }

  .global-margin {
    @apply max-w-screen-2xl;
    @apply mx-7;
    @apply md:mx-10;
    @apply xl:mx-auto;
  }
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bg-pattern {
  background-image: url('./images/patter_treesAI_01.svg');
}

.bg-header {
  background-image: url('./images/header.svg');
  background-size: 100%;
}

.bg-problemSolution {
  background-image: url('./images/problem-solution.png');
}

.bg-pd {
  background-image: url('./images/pd-shape.svg');
  background-repeat: no-repeat;
}

.bg-investor {
  background-image: url('./images/invest-shape.svg');
  background-repeat: no-repeat;
}

.bg-registry {
  background-image: url('./images/registry.svg');
  background-repeat: no-repeat;
}

.bg-invest-contact {
  background-image: url('./images/invest-with-us.svg');
  background-repeat: no-repeat;
}
