.tree-services {
  background: url(images/tree-services.png) no-repeat center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 0;
  padding: 40%;
}

.heading-padd {
  padding-top: 40px;
}

.py-12-edit {
  padding-top: 3em;
}

.pointer-cursor {
  cursor: pointer;
}

.lets-invest {
  background: url(images/letsinvest.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding: 40%;
}

.lets-invest p {
  display: inline;
  padding: 0.5rem;

  /* Needs prefixing */
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.grid-center {
  place-items: center;
}

.right-float {
  margin-left: auto;
  margin-right: 0;
}

.mobile-image {
  margin: 0 auto;
}

.vimeo-container {
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: black;
}
iframe {
  position: absolute;
  left: 50%;
  top: 50%;
  min-width: 100%;
  height: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 0;
}

.video-overlay {
  position: relative;
  z-index: 3;
}

.text-start {
  text-align: left;
}

.flex-space {
  justify-content: center;
}

.heightFull {
  height: 100%;
}

.map-container {
  height: 800px;
}

#marker {
  background-image: url("https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg");
  background-size: cover;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}

.input-section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.input-inside {
  width: 80%;
}

.add-to-market {
  background: url(images/Banner-image.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

#map {
  width: 100vw;
  height: 100vh;
}

.outcomes-panel {
  background: url(images/outcomes-panel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100vh;
}

.chart-size {
  width: 60%;
}

.gift {
  background: url(images/Gift.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  padding: 40%;
}

.steward {
  background: url(images/StewardPanel.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
}

.image-blur {
  filter: opacity(50%);
}
